<script src="{{ url_for('static', filename='js/i18n.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/poll-engine.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/mailbox_compact.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/groups.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/temp_emails.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/accounts.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/overview.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/pool_admin.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/emails.js') }}?v={{ APP_VERSION }}"></script>
    <script src="{{ url_for('static', filename='js/features/plugins.js') }}?v={{ APP_VERSION }}"></script>
